@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --background-HUD: #222222;
  --text-primary: #ffffff;
  --text-secondary: #aaaaaa;
}

#one-figma-shortcut-a-day-root {
  * {
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
  }

  p {
    @extend .UI12-Neg;
  }

  span {
    @extend .UI12-Neg;
  }

  .UI12-Neg {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-primary);
  }

  .UI11-Neg {
    @extend .UI12-Neg;
    font-size: 11px;
    letter-spacing: 0.005em;
  }
}
